{{ get_header() }}
<div id="page">
    <div id="content">
        {% if wp_the_loop()|length > 0 %}
            {% for post in wp_the_loop() %}
                {% set postAuthorId = post.ID|to_int %}
                {% set categories = wp_call_func('get_the_terms', postAuthorId, 'category') %}
                {% set tags = wp_call_func('get_the_terms', postAuthorId, 'post_tag') %}
                <div class="post">
                    <h1 class="title">
                        <a href="{{ wp_call_func('get_permalink', post.ID) }}">
                            {{ post.post_title }}
                        </a>
                    </h1>
                    <p class="byline">
                        <small>
                            Posted on {{ wp_call_func('get_the_date')|date('U')|localizeddate('long','none',null, null, 'dd MMMM YYYY') }} by
                            {{ wp_call_func('the_author_posts_link') }}
                        </small>
                    </p>
                    <p class="byline_down">
                        <small>
                            Tags:
                            {% for tag in tags %}
                                <a href="{{ wp_call_func('get_tag_link', tag.term_id) }}">
                                    {{ tag.name }}
                                </a>
                                {% if loop.length > 1 and loop.first != false %}
                                    ,
                                {% endif %}
                            {% endfor %}
                        </small>
                        <br>
                        <small>
                            Categories:
                            {% for category in categories %}
                                <a href="{{ wp_call_func('get_category_link', category.term_id) }}">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </small>
                    </p>
                    <div class="entry">
                        {{ wp_call_func('get_the_excerpt', post.ID) }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Записи отсутствуют.</p>
        {% endif %}
    </div>
    <div id="sidebar">
        <ul>
            <li>
                <h2>Categories</h2>
                <ul>
                    {{ get_sidebar('category') }}
                </ul>
            </li>
            <li>
                <h2>Archives</h2>
                <ul>
                    {{ get_sidebar('archive') }}
                </ul>
            </li>
        </ul>
    </div>
</div>
{{ get_footer() }}